<!DOCTYPE html>
<head>
<title>Welcome to ucist</title>
<style>
    body {
        background-color: #efefef;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }
    .container {
        width: 80%;
        margin: auto;
    }
    .header {
        text-align: center;
        padding: 20px;
        background-color: #ffffff;
        border-bottom: 1px solid #dddddd;
    }
    .header h1 {
        font-size: 2em;
    }
    .content {
        padding: 20px;
    }
</style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Welcome to ucist</h1>
    </div>
    <div class="content">
      <p>This is a simple website created with Flask. You can upload files here.</p>
    </div>
  </div>
</body>
</html>
